.container{
  position: relative;
left: -70px;
}
.root{
     width: 500px;
     padding: 12px 50px;
     border-radius: 10px;
     border: 1px solid rgba(0,0,0,0.5);
     font-size: 16px;

   }
.searchIcon{
  width: 30px;
  height: 30px;
  opacity: 0.5;
  position: absolute;
  top: 10px;
  left: 10px;
   &:hover{
     opacity: 0.8;
   }
}
