.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smile {
  display: flex;
  justify-content: center;

  img {

    width: 65%;
    height: 65%;
  }

}
